ZolaClient/Connected Services/ZolaService/ServerLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsMale" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="DataFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataFile" nillable="true" type="tns:DataFile" />
  <xs:complexType name="DataMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Receiver" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="SentTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataMessage" nillable="true" type="tns:DataMessage" />
  <xs:complexType name="ArrayOfDataMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataMessage" nillable="true" type="tns:DataMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataMessage" nillable="true" type="tns:ArrayOfDataMessage" />
</xs:schema>